<html>
<head>
</head>
<body>
	<h1>Welcome to the Header Parsing Microservice!</h1>
	<div>
		<p>This service will tell you your IP address, your user-agent language, 
			and your operating system. In order to use the service, please navigate 
			to https://thawing-spire-25000.herokuapp.com/api/whoami</p>
	</div>
	<h3>Thanks for checking this out!</h3>
</body>
</html>
